.root {
  -fx-font-family: "Rubik Regular";
}
.text-lapsus-bold {
  -fx-font-family: "Lapsus Pro Bold";
}
.key-text {
  -fx-font-family: "Rubik Bold";
  -fx-font-size: 20px;
  -fx-fill: white;
}

.title-text {
  -fx-font-family: "Lapsus Pro Bold";
  -fx-font-size: 28px;
}

.left_pane_background {
  -fx-background-color: #e98888;
}

.right_pane_background {
  -fx-background-color: #ddee7e;
}

.top_pane_background {
  -fx-background-color: #87dd87cb;
}

.bottom_pane_background {
  -fx-background-color: #fcf952d8;
}

.btn_system_red {
  -fx-background-color: #ff4848;
}

.btn_system_red:hover {
  -fx-background-color: #d42222;
}

.btn_system_blue {
  -fx-background-color: #588cd9;
}

.btn_system_blue:hover {
  -fx-background-color: #356ab9;
}

.btn_system {
  -fx-background-color: #55b86e;
}

.btn_system:hover {
  -fx-background-color: #3d9553;
}

.adn_button_radius {
  -fx-background-radius: 12px;
}

.medium_button_radius {
  -fx-background-radius: 48px;
}

.stroked-hbox {
  -fx-background-radius: 48px;
  -fx-border-color: #3c8d51;
  -fx-border-width: 0.5;
  -fx-border-radius: 48px;
  -fx-padding: 10;
}

.btn_play {
  -fx-background-color: #588cd9;
  -fx-background-radius: 110px;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
}

.btn_play:hover {
  -fx-background-color: #3761a2;
}

.btn_play > Label {
  -fx-text-fill: #ffffff;
}

.btn_play:hover > Label {
  -fx-text-fill: #e2e2e2;
}

.btn_challenge {
  -fx-background-color: #58d97f;
  -fx-background-radius: 110px;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
}

.btn_challenge:hover {
  -fx-background-color: #3eb762;
}

.btn_challenge > Label {
  -fx-text-fill: #ffffff;
}

.btn_challenge:hover > Label {
  -fx-text-fill: #e2e2e2;
}

.btn_tutorial {
  -fx-background-color: #edaa5e;
  -fx-background-radius: 110px;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
}

.btn_tutorial > Label {
  -fx-text-fill: #ffffff;
}

.btn_tutorial:hover > Label {
  -fx-text-fill: #e2e2e2;
}

.btn_tutorial:hover {
  -fx-background-color: #c78b3f;
}

.btn_keluar {
  -fx-background-color: #d95858;
  -fx-background-radius: 110px;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
}

.btn_keluar > Label {
  -fx-text-fill: #ffffff;
}

.btn_keluar:hover > Label {
  -fx-text-fill: #e2e2e2;
}

.btn_keluar:hover {
  -fx-background-color: #a83c3c;
}

.disableLayer_background {
  -fx-background-color: rgba(0, 0, 0, 0.548);
}

.info_background {
  -fx-background-color: #3e434a;
  -fx-effect: dropshadow(gaussian, rgba(34, 34, 34, 0.616), 4, 0, 0, 4);
}

.info_background_content {
  -fx-background-color: #313438;
  -fx-background-radius: 12px;
}

.info_avatar {
  -fx-background-color: #5d7474;
  -fx-background-radius: 110px;
}

.info_button_kembali {
  -fx-background-color: #588cd9;
  -fx-background-radius: 110px;
  -fx-effect: dropshadow(gaussian, rgba(49, 49, 49, 0.25), 4, 0, 0, 4);
}

.info_button_kembali:hover {
  -fx-background-color: #3761a2;
}

.border_button {
  -fx-border-color: #55b86e;
  -fx-border-radius: 110px;
  -fx-border-width: 1px;
}

.border_button:hover {
  -fx-background-color: #3d9553;
}

.sumber-referensi-scrollpane {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.sumber-referensi-scrollpane > .viewport {
  -fx-background-color: transparent;
}

.sumber-referensi-scrollpane .scroll-bar:vertical {
  -fx-background-color: rgba(40, 40, 40, 0.7);
  -fx-pref-width: 10;
  -fx-padding: 2;
}

.sumber-referensi-scrollpane .scroll-bar:vertical .thumb {
  -fx-background-color: #6e6e6e;
  -fx-background-insets: 0;
  -fx-background-radius: 5;
}

.sumber-referensi-scrollpane .scroll-bar:vertical .increment-button,
.sumber-referensi-scrollpane .scroll-bar:vertical .decrement-button {
  -fx-background-color: transparent;
  -fx-padding: 0 0 0 0;
  -fx-pref-height: 0;
}

.settings-switch-track {
  -fx-background-radius: 20px;
  -fx-padding: 4px;
}

.settings-switch-thumb {
}

.inputfield {
  -fx-background-color: #919191;
  -fx-background-radius: 16.762;
  -fx-border-color: rgba(0, 0, 0, 0.8);
  -fx-border-width: 1;
  -fx-border-radius: 16.762;
}

.thumb_finger {
  -fx-background-color: #9e9992;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
}

.left_index_finger {
  -fx-background-color: #59e938;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
}

.right_index_finger {
  -fx-background-color: #962edb;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
}

.left_middle_finger {
  -fx-background-color: #f84a4a;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
}

.right_middle_finger {
  -fx-background-color: #e05a31;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
}

.left_ring_finger {
  -fx-background-color: #4a8ff8;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
}

.right_ring_finger {
  -fx-background-color: #1abba8;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
}

.left_pinky_finger {
  -fx-background-color: #ceb305;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
}

.right_pinky_finger {
  -fx-background-color: #57700b;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
}

.complete_typing {
  -fx-background-radius: 24px;
  -fx-background-color: radial-gradient(
    focus-angle 0deg,
    focus-distance 0%,
    center 50.06% 16.03%,
    radius 111.72%,
    #dd4f4f 0%,
    #480ece 100%
  );
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 7.2, 0, 0, 4);
}

.key-base {
  -fx-pref-height: 40px;
  -fx-pref-width: 40px;
  -fx-background-radius: 8px;
  -fx-alignment: center;
  -fx-padding: 5px;
}

.key-base Text {
  -fx-fill: white;
  -fx-font-family: "Rubik Bold";
  -fx-font-size: 20px;
  -fx-text-origin: center;
}

.key-char-small {
  -fx-font-size: 12px;
  -fx-translate-y: -2px;
}
.key-char-main {
  -fx-font-size: 18px;
  -fx-translate-y: 2px;
}

.key-modifier {
  -fx-pref-width: 70px;
}
.key-char-modifier Text {
  -fx-font-size: 16px;
  -fx-opacity: 0.75;
}

.key-char-space Text {
  -fx-font-size: 20px;
  -fx-opacity: 0.75;
}

.key-highlighted-active {
  -fx-background-color: #1c5df4;
  -fx-border-color: #0d3c73;
  -fx-border-width: 2px;
}
.key-highlighted-active Text {
  -fx-fill: white;
}

.finger-highlighted {
  -fx-stroke: #1c5df4;
  -fx-stroke-width: 2px;
}

#textToTypeDisplay {
}

.petunjuk_text {
  -fx-background-color: #b2467e;
}

.text-field.custom-prompt .prompt-text {
  -fx-font-family: "Rubik Regular";
  -fx-font-size: 36px;
  -fx-text-fill: #4a4a4a;
}
